ADDRESS=localhost

WSBANK_API_URL=http://localhost
WSBANK_API_PORT=8081

WSTRANSAKSI_API_URL=http://localhost
WSTRANSAKSI_API_PORT=4000

MYSQL_HOST_PORT=3308
MYSQL_SERVER_FOR_PHP=engima_mysql:3306
MYSQL_CONTAINER_NAME=engima_mysql
MYSQL_DATABASE=engima_database
MYSQL_USER=engima
MYSQL_PASS=engimapw